  /*Exo2 Regular*/
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Exo2-Regular.woff2") format("woff2"),
      url("../fonts/Exo2-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /*Exo2 bold*/
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Exo2-bold.woff2") format("woff2"),
      url("../fonts/Exo2-bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }